* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
@media screen and (max-width: 12000px) {
  .gridAll {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "main"
      "footer";
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
    display: row;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    font-size: 15px;
  }

  main {
    margin: 6.25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .containerCard {
    padding: 1.25rem 0.625rem;
    width: 25rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containerCard img {
    width: 23.75rem;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1.875rem;
  }

  .containerCard h1 {
    margin: 0 0.625rem 0.625rem 1.25rem;
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-size: 1.5em;
    font-weight: 700;
  }

  .containerCard p {
    text-align: center;
    margin: 0 0.625rem 1.25rem 0.625rem;
    color: hsl(220, 15%, 55%);
    font-size: 1em;
    font-weight: 400;
  }

  .attribution {
    font-size: 0.6875rem;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

@media screen and (max-width: 375px) {
  body {
    font-size: 13px;
  }
  .containerCard {
    width: 85%;
    height: auto;
  }
  .containerCard img {
    width: 100%;
    height: auto;
  }
}
